.title-articles-sections{
    color: rgba(255, 252, 252, 0.95);
  text-shadow: 0 1px 14px rgba(0, 0, 0, 0.884); 
  font-size: 3rem;
  /* background-color: rgba(130, 123, 123, 0.45); */
   text-align: center;
    font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 80vh;          
  text-align: center;
}
.jumbo{
      height: 90vh;
  display: flex;
  flex-direction: column; 
  align-items: center;     
  justify-content: center; 
  text-align: center;
  padding: 2rem
}