.jumbo {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.jumbo-title {
color: #ffffff;
text-shadow: 0 0 10px rgba(65, 62, 64, 0.769);
  font-size: 3.5rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}
.jumbo {
  background-image: url("/public/bg-box.jpg");
  background-size: cover;
}
.logo {
  height: 65px;
  position: absolute;
  left: 320px;
  bottom: 230px;
}
