body{
  box-sizing: border-box;
}
.logo{
  height: 60px;
}
a{
  text-decoration:dotted;
} 
.header {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-links{
  color: #5a5050;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-links:hover{
  color: #c1b4b4;
}
.self-care{
  background-image: url('/public/self-care-bg.jpg');
  background-size: cover;
    position: relative;
  z-index: 1;
  padding: 2rem;
  overflow: hidden;
}
.self-care::before{
    content: "";
  position: absolute;
  top: 10; left: 50;
  width: 100%; height: 100%;
  background-image: url('/public/self-care-bg.jpg');
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}
.self-improvment{
  background-image: url('/public/self-improvment.jpg');
  background-size: cover;
    position: relative;
  z-index: 1;
  padding: 2rem;
  overflow: hidden;
}
.self-improvment::before{
  content: "";
  position: absolute;
  top: 10; left: 50;
  width: 100%; height: 100%;
  background-image: url('/public/self-improvment.jpg');
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}
.life-style{
  background-image: url('/public/life-style.jpg');
  background-size: cover;
    position: relative;
  z-index: 1;
  padding: 2rem;
  overflow: hidden;
}
.life-style::before{
content: "";
  position: absolute;
  top: 10; left: 50;
  width: 100%; height: 100%;
  background-image: url('/public/life-style.jpg');
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

/* sezione ad apparizione e box */
.box-intermedio{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    height: 80vh;
    width: 90vw;
    background-image: url('/public/bg-box.jpg');
    background-size: cover;
}
.box-title{
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  color: white;
    text-shadow: 0 1px 14px rgba(0, 0, 0, 0.884); 
}
.image-box {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fade-image {
  position: absolute;
  max-width: 100%;
  max-height: 70%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.fade-image.visible {
  opacity: 1;
  transform: scale(1);
}

.scroll-image{
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.884); 
}
/* Responsive */
@media (max-width: 600px) {
  .scroll-image {
    width: 100%;
    max-width: 300px;
  }

  .image-section {
    flex-direction: column;
    align-items: center;
  }
}


/* fine sezione apparizione  #dc75753d;*/

.card {
  padding: 16px;
  margin: auto;
  width: 300px;
  height: 470px;
  background-color: #bc70703d;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.623);
}
.card:hover{
  transform: scale(1.03);
}
.card-body{
 display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
}
.card-content{
flex-grow: 1;
}
.articoli{
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-top: 50px;
    margin-bottom: 20px;
  font-weight: bold;
  color:rgb(134, 64, 64);
  text-shadow: 1px 1px 3px rgba(164, 53, 53, 0.897);
}
.bg-articles{
    background-color:rgba(202, 116, 116, 0.098) ;
      box-shadow: 1px 15px 13px rgba(130, 130, 130, 0.897);
}
.swiper-slide .card {
  transform: scale(0.9); /* riduce del 10% */
  transform-origin: center;
}
.card-image {
  width: 100%;
  height: 50%;
  object-fit: cover; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.884); 
}

.lista-articoli {
  display: flex;
justify-content: center;
align-items: center;
}

.articles-preview{
  background-color: rgba(236, 236, 236, 0.422);
}
.swiper-button-next,
.swiper-button-prev {
  color: rgb(202, 116, 116)!important; 
}
.btn-articoli{
 margin-top: 20px;
  padding: 10px 20px;
  margin-bottom: 30px;
  font-size: 1rem;
  background-color: #fff9f9;
  color: rgb(69, 66, 66);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-card{
border: 1px solid rgba(46, 35, 35, 0.304);
  text-decoration: none;
padding: 10px 40px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-radius: 50px;
color: #5b5454;
background-color: #faf2f2;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.582); 
display: flex;
justify-content: center;
margin-top: 5px;
}
.btn-card:hover{
  background-color: #5a5050;
  color: #ffffff;
}
.home-footer{
   color: rgba(255, 252, 252, 0.95);
  text-shadow: 0 1px 14px rgba(0, 0, 0, 0.884); 
  font-size: 2rem;
   text-align: center;
    font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center; 
  align-items: center;             
  text-align: center;
}
footer{
  background-color: #8a7575;
}
footer h5{
  color: #ded9d9;
  text-shadow: 1px 1px 3px rgba(255, 96, 96, 0.573);
}
footer a{
  color:  #ded9d9;
}
footer a:hover{
  color:  #ffffff;
}
.cookies {
  position: relative;
  z-index: 1;
  padding: 2rem;
  overflow: hidden;
}

.cookies::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('/public/cookies.jpg');
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}
.cookies-body{
  color: #ffffff;
}
.footer-flex h5{
  color: rgba(255, 252, 252, 0.95);
  text-shadow: 0 1px 14px rgba(0, 0, 0, 0.884); 
}
 .termini-condizioni-body{
  color: white;
 }
.termini-condizioni-page{
    position: relative;
  z-index: 1;
  padding: 2rem;
  overflow: hidden;
}
.termini-condizioni-page::before{
   content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('/public/termini-condizioni.jpg');
  opacity: 0.7;
  z-index: -1;
}
/* ARTICOLI  */
.article-page{
  background-image: url('/background-article-page.jpg');
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 display: flex;
 padding: 30px;
 flex-direction: column;
align-items: center;
}
.article-page img{
  width: auto;
  height: 50vh;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.468); 
margin: 10px;
}
.article-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-content{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width:600px){
  .footer-flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social{
    text-align: center;
    padding-top: 20px;
  }
  .home-footer{
    margin-top: 30px;
  }
}